/* Fondo oscuro detrás del modal */
.modal-overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background: rgba(0,0,0,.55);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:999;
}

/* Ventana principal */
.modal{

    width:650px;
    max-width:90%;

    background:white;

    border-radius:15px;

    padding:30px;

    text-align:center;

    box-shadow:0 15px 35px rgba(0,0,0,.35);

    animation: aparecer .35s ease;
}
.modal{

    animation: abrirModal .35s ease;

}

/* Imagen */
.modal img{

    width:360px;

    max-width:100%;

    border-radius:12px;

    margin:25px auto;

    display:block;

}

/* Título */
.modal h2{
    font-size:42px;
    color:#1f2937;
    margin-bottom:25px;
}

/* Descripción */
.modal p{

    font-size:19px;

    color:#555;

    line-height:1.8;

    margin-bottom:25px;

}

/* Lista */
.modal ul{

    list-style:none;

    padding:0;

    width:70%;

    margin:20px auto;

}
.modal li{

    background:#f4f7fb;

    padding:12px;

    margin:10px 0;

    border-radius:8px;

    font-size:17px;

    text-align:left;

}

/* Botón */
.btn-cerrar{

    margin-top:30px;

    padding:15px 45px;

    font-size:18px;

    border-radius:10px;

}

.btn-cerrar:hover{

    background:#6fa8ff;

}



/* Animación */
@keyframes aparecer{

    from{

        opacity:0;

        transform:scale(.8);

    }

    to{

        opacity:1;

        transform:scale(1);

    }
    


}